*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

#title-card {
    text-align: center;
}
.header-left {
    background-color: black;
    color: white;
    min-height: 50px;
    padding-left: 10px;
}
main {
    min-height: 500px;
}


.container {
    width: 800px;
    margin: 0 auto;
    min-height: 50px;
}
.left {
    flex: 1;
    align-self: flex-start;
    min-height: 300px;
}
.right {
    flex: 2;
}
.profile {
    border: 5px solid black;
    align-items: center;
    text-align: center;
}
img {
    border-radius: 50%;
    max-height: 100px;
}
.card {
    margin-bottom: 1.5rem;
    border: 5px solid black;
    text-align: center;
    padding: 15px;
}
.like {
    background-color: orange;
    padding: 10px;
    box-shadow: 5px 5px;
    margin-right: 10px;
    margin-top: 10px;
}